{% extends "base.html" %}
    {% block title %} Game {% endblock title %}
    {% load static %}
    {% block file %}<link rel="stylesheet" href="{% static '/css/profile.css' %}">  {% endblock file %}

  {% block body %}
    <div class="container-fluid">
        <hr class="mt-2">
        <h4 class="text-center">Record</h4><hr>
        <table class="table text-center">
          <thead class="table-dark">
            <tr>
              <th scope="col">Period</th>
              <th scope="col">Price</th>
              <th scope="col">Number</th>
              <th scope="col">Result</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row">20231102206</th>
              <td>100</td>
              <td>4</td>
              <td>
                <div class="red"></div>
              </td>
            </tr>
            <tr>
              <th scope="row">20231102206</th>
              <td>100</td>
              <td>4</td>
              <td>
                <div class="green"></div>
              </td>
            </tr>
            <tr>
              <th scope="row">20231102206</th>
              <td>100</td>
              <td>4</td>
              <td>
                <div class="violet"></div>
              </td>
            </tr>
            <tr>
              <th scope="row">20231102206</th>
              <td>100</td>
              <td>4</td>
              <td>
                <div class="violet-red"></div>
              </td>
            </tr>
            <tr>
              <th scope="row">20231102206</th>
              <td>100</td>
              <td>4</td>
              <td>
                <div class="violet-green"></div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      {% endblock body %}