{% extends "base.html" %}
    {% block title %} Game {% endblock title %}
    {% load static %}
    {% block file %}<link rel="stylesheet" href="{% static '/css/profile.css' %}">  {% endblock file %}

  {% block body %}
    <div class="container-fluid">
        <hr class="mt-2">
        <h4 class="text-center">Record</h4><hr>
        <table class="table text-center">
          <thead class="table-dark">
            <tr>
              <th scope="col">Period</th>
              <th scope="col">Price</th>
              <th scope="col">Number</th>
              <th scope="col">Result</th>
            </tr>
          </thead>
          <tbody>
            {% for n in record.player_set.all %}
            <tr>
              <th scope="row">{{n.id}}</th>
              <td>{{n.bet_value}}</td>
              <td>{{n.game.final_number}}</td>
              <td>
                <div class="{{n.game.final_color|lower}}"></div>
              </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
      {% endblock body %}