{% extends "base.html" %}
{% load static %}

{% block title %} Homie {% endblock title %}
{% block body %}
<div id="carouselExampleCaptions" class="carousel slide rounded" data-bs-ride="carousel">
    <div class="carousel-inner">
        <div class="carousel-item active">
            <div class="img-carousel">
                <img src="{% static '/images/1.jpg' %}" class="d-block" alt="..." >
            </div>
        </div>
        <div class="carousel-item">
            <div class="img-carousel">
                <img src="{% static '/images/2.jpg' %}" class="d-block" alt="..." >
            </div>
        </div>
        <div class="carousel-item">
            <div class="img-carousel">
                <img src="{% static '/images/3.jpg' %}" class="d-block" alt="..." >
            </div>

        </div>
    </div>

</div>
<br>

<div class="container-fluid">
    <div class="card1 w-100">
        <div class="cardbody border p-2">
            <div class="main-img">
                <div class="img">
                    <img src="{% static '/images/watch.jpg' %}" alt="" class="w-100">
                </div>
            </div>
           <br>
            <div>
                <h5>LOUIS MOINET
                    MECHANICAL WONDERS </h5>
                <p> ₹ 308576.00</p>
            </div>
        </div>

        <div class="cardbody border p-2">
            <div class="main-img">
                <div class="img">
                    <img src="{% static '/images/watch2.jpg' %}" alt="" class="w-100">
                </div>
            </div>
           <br>
            <div>
                <h5>H. MOSER & CIE.
                    ENDEAVOUR</h5>
                <p> ₹ 808576.00</p>
            </div>
        </div>

        

        <div class="cardbody border p-2">
            <div class="main-img">
                <div class="img">
                    <img src="{% static '/images/watch3.jpg' %}" alt="" class="w-100">
                </div>
            </div>
           <br>
            <div>
                <h5>ETERNA
                    KONTIKI 1948 Legacy Automatic </h5>
                <p> ₹ 208576.00</p>
            </div>
        </div>

        <div class="cardbody border p-2">
            <div class="main-img">
                <div class="img">
                    <img src="{% static '/images/watch4.jpg' %}" alt="" class="w-100">
                </div>
            </div>
           <br>
            <div>
                <h5>ARNOLD & SON
                    Luna Magna Red Gold Meteorite</h5>
                <p> ₹ 578576.00</p>
            </div>
        </div>

        <div class="cardbody border p-2">
            <div class="main-img">
                <div class="img">
                    <img src="{% static '/images/watch5.jpg' %}" alt="" class="w-100">
                </div>
            </div>
           <br>
            <div>
                <h5>FAVRE LEUBA
                    Raider Bivouac 9000 </h5>
                <p> ₹ 608576.00</p>
            </div>
        </div>

        <div class="cardbody border p-2">
            <div class="main-img">
                <div class="img">
                    <img src="{% static '/images/watch6.jpg' %}" alt="" class="w-100">
                </div>
            </div>
           <br>
            <div>
                <h5>CHRONOSWISS
                    Delphis Venture</h5>
                <p> ₹ 1508576.00</p>
            </div>
        </div>

        <div class="cardbody border p-2">
            <div class="main-img">
                <div class="img">
                    <img src="{% static '/images/watch7.jpg' %}" alt="" class="w-100">
                </div>
            </div>
           <br>
            <div>
                <h5>LAURENT FERRIER
                    Sport Auto Blue</h5>
                <p> ₹ 5500006.00</p>
            </div>
        </div>

        <div class="cardbody border p-2">
            <div class="main-img">
                <div class="img">
                    <img src="{% static '/images/watch8.jpg' %}" alt="" class="w-100">
                </div>
            </div>
           <br>
            <div>
                <h5>H. MOSER & CIE.
                    Pioneer Centre Seconds </h5>
                <p> ₹ 1608576.00</p>
            </div>
        </div>

        

        <div>

        </div>
    </div>
</div><br><br><br><br>



{% endblock body %}