{% extends "base.html" %}
{% load static %}

{% block title %} Homie {% endblock title %}
{% block body %}
      <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="{% static '/images/1.jpg' %}" class="d-block w-100" alt="..." height="650">
         
          </div>
          <div class="carousel-item">
            <img src="{% static '/images/2.jpg' %}" class="d-block w-100" alt="..."  height="650">
            
          </div>
          <div class="carousel-item">
            <img src="{% static '/images/3.jpg' %}" class="d-block w-100" alt="..."  height="650">
          
          </div>
        </div>
      
      </div>
      <br>
      
      <div class="container mt-3">
        <div class="row row-cols-1 row-cols-md-2 g-4">
            <div class="col">
                <div class="card">
                    <img src="{% static '/images/pendent.jpg' %}" class="card-img-top" alt="..." height="400">
                    <div class="card-body">
                        <h5 class="card-title">Joyalukkas 18k (750) Rose Gold and Solitaire Pendant for Girls</h5>
                        <p class="card-text">₹ 38576.00</p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card">
                    <img src="{% static '/images/pendent2.jpg' %}" class="card-img-top" alt="..."  height="350">
                    <div class="card-body">
                        <h5 class="card-title">Ratnavali Jewels American Diamond Traditional Fashion Jewellery Green Necklace Pendant Set with Earring for Women/Girls RV2916G</h5>
                        <p class="card-text"> ₹ 2899.00</p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card">
                    <img src="{% static '/images/pendent3.jpg' %}" class="card-img-top" alt="..."  height="400">
                    <div class="card-body">
                        <h5 class="card-title">Swasti Jewels Heart Shape Fashion Jewellery Set Pendant Earrings for Women</h5>
                        <p class="card-text">₹ 4559.00</p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card">
                    <img src="{% static 'images/pendent4.jpg' %}" class="card-img-top" alt="..."  height="400">
                    <div class="card-body">
                        <h5 class="card-title">Om Jewells Rhodium Plated Blue Crystal Jewellery Combo of Designer Drop Pendant Set with Adjustable Bangle</h5>
                        <p class="card-text">₹ 1599.00</p>
                    </div>
                </div>
            </div>
        </div><br><br><br><br>
    </div>


{% endblock body %}